/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-image: var(--bg-pattern);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  justify-content: center;
  justify-items: center;

  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0 clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
  background-color: var(--bg-color, white);
  border: 2px solid var(--border-color);
  margin-block-start: 100px;
  margin-block-end: 100px;
  gap:20px;
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: 49px;
  line-height: 49px;
  text-transform: uppercase;
  color: var(--header-title-color);
}

.header__subtitle {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--header-subtitle-color);
}

.cards__list {
  display: grid;
  gap: 50px;
}

.content {
  margin-inline: auto;
  max-inline-size: 700px;
}

.card__item {
  display: flex;
  border: 2px solid currentColor;
  flex-direction: column;
}

.cart__content {
  background-color: var(--bg-color, white);
}

.card__title {
  font-variation-settings: "wght" var(--card-title-font-weight, 700);
  background-color: var(--bg-color, white);
  font-size: 18px;
  line-height: 22px;
  padding-inline: 10px;
  padding-block: 4px;
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__description {
  display: grid;
  padding: 25px 25px 0 25px;
  border-block-start: 2px solid var(--card-description-text-color, #000);
  font-size: 18px;
  line-height: 21px;
  gap: 25px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  padding: 25px;
  gap: 12px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.card__like-button {
  padding: 9px 31px;
  font-size: 14px;
  line-height: 90%;
}

.button {
  position: relative;
  cursor: pointer;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  font-family: var(--accent-font), sans-serif;
  color: var(--button-text-color);
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-hover-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__text {
  position: relative;
  z-index: 10;
  text-align: center;
  mix-blend-mode: difference;
}

.save__button {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  align-items: center;
  padding-block: 15px;
  padding-inline: 20px;
  margin-block: 54px 102px;
  margin-inline: 34px;
  gap: 8px;
  background-color: var(--button-bg-color);
  mix-blend-mode: difference;

}

.save__button-icon {
  width: 28px;
  height: 28px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  z-index: 10;
}

.save__button-text {

  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;


}

.save__modal {
  flex-direction: column;
  max-width: clamp(341px, 100%, 357px);

}

.save__modal[open] {
  display: flex;
  padding-inline: clamp(30px, calc(30px + (10*((1440px - 100vw) / 1065))), 40px);
  padding-block: 30px;
  gap: 30px;
}

.save__modal[open]::backdrop {
  background-color: #000;
  filter: opacity(0.75);
}

.save__modal-icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
  color: var(--card-description-text-color);
}

.save__modal-text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--card-description-text-color);
}

.modal__content {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 20px;
}

.save__modal-close {
  border: 2px solid var(--border-color);
  padding-block: 13px;
  inline-size: 100%;
}

.save__modal-close-text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: inset(0, 0, 0, 0);
}