/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-image: var(--bg-pattern);
  background-size: cover;
  background-attachment: fixed;
  font-size: 18px;
}

.header {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-block: 100px;
}

.header__wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: var(--bg-color, white);
  border: 2px solid var(--border-color);
  padding-block: clamp(120px, 8.9vw, 128px);
  inline-size: var(--header-width, min(100vw, 700px));
  gap: 20px;
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  color: var(--header-title-color);
}

.header__subtitle {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.226rem + 2.7692cqi, 1.4375rem);
  text-transform: uppercase;
  color: var(--header-subtitle-color);
}

.cards__list {
  display: grid;
  gap: 50px;
}

.content {
  margin-inline: auto;
  max-inline-size: 700px;
}

.card__item {
  display: flex;
  flex-direction: column;
}

.cart__content {
  background-color: var(--bg-color, white);
  display: grid;
  border: 2px solid currentColor;
  border-block-end: 2px solid currentColor;
  font-size: 18px;
  line-height: 21px;
  gap: 46px;
  padding-inline: 25px;
  padding-block: 22px 25px;
}

.card__title {
  font-variation-settings: "wght" var(--card-title-font-weight, 700);
  background-color: var(--bg-color, white);
  border: 2px solid currentColor;
  font-size: 18px;
  line-height: 22px;
  padding-inline: 10px;
  padding-block: 4px;
}

.card__image-block {
  position: relative;
  border-inline: 2px solid currentColor;
  block-size: var(--card-image-block-size, clamp(375px, 100vw, 700px));
}

.card__label {
  position: absolute;
  font-family: var(--accent-font), sans-serif;
  inset-block-start: clamp(
    23px,
    calc(23px + (25 - 23) * ((100vw - 375px) / (1440 - 375))),
    25px
  );
  inset-inline-end: clamp(
    11px,
    calc(11px + (25 - 11) * ((100vw - 375px) / (1440 - 375))),
    25px
  );
  text-transform: uppercase;
  color: #000;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-size: 14px;
  z-index: 1;

  @supports (-webkit-text-stroke: 1px var(--bg-color, white)) or
    (text-stroke: 1px var(--bg-color, white)) {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color, white);
    text-stroke: 1px var(--bg-color, white);
  }
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.card__text {
  font-family: var(--main-font), sans-serif;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  max-block-size: 38px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.main-body {
  fill: transparent;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--border-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  font-size: 14px;
  inline-size: 130px;
  block-size: 38px;
}

.button {
  position: relative;
  cursor: pointer;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  font-family: var(--accent-font), sans-serif;
  color: var(--button-text-color);
  transition: transform 0.5s ease-in-out;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-hover-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--button-hover-color, black);
  transition: box-shadow 0.5s ease-in-out;
}

.filter-brightness {
  filter: brightness(50%);
}

.filter-brightness-blur {
  filter: brightness(50%) blur(.2rem);
}

.filter-contrast {
  filter: contrast(20%);
}

.filter-blur {
  filter: blur(3.2rem);
}

.filter-opacity {
  filter: opacity(0.8);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(158%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-invert {
  filter: invert(0.7);
}

.save__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__text {
  position: relative;
  z-index: 10;
  text-align: center;
  mix-blend-mode: difference;
  font-weight: 400;
}

.save__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 15px;
  padding-inline: 20px;
  margin-block: 54px 102px;
  gap: 8px;

  @media (width > 600px) {
    flex-direction: row;
  }
}

.save__button-icon {
  block-size: calc(28px - (28 - 21) * ((100vw - 375px) / (1440 - 375)));
  color: var(--button-text-color);
  mix-blend-mode: difference;
  z-index: 10;
}

.save__button-text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
}

.save__modal {
  display: none;
  flex-direction: column;
  max-width: clamp(341px, 100%, 357px);
  gap: 30px;
  padding: clamp(29px, calc(19px + 10 * ((1440px - 100vw) / 1065)), 40px);
}

.save__modal[open] {
  display: flex;
}

.save__modal[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save__modal-icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
  color: var(--card-description-text-color);
}

.save__modal-text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--card-description-text-color);
}

.modal__content {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.save__modal-close {
  border: 2px solid var(--border-color);
  block-size: 2.375rem;
  inline-size: 100%;
}

.save__modal-close-text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: inset(0, 0, 0, 0);
}
